.navbar{
  background-color: transparent !important; /* Use !important to override Bootstrap styles */
  border: none; /* Remove any border if present */
}

.navbar-image {
    
    border-radius: 10px;
    display: block; /* Ensures proper spacing and alignment */
    margin: 0 auto; /* Centers the image horizontally */
  }
  
  body {
    background-image: url('https://i.etsystatic.com/22539742/r/il/789724/3810693578/il_fullxfull.3810693578_i8p1.jpg');
    background-size: cover; /* This ensures the image covers the entire element */
    background-repeat: no-repeat; /* Prevents image from repeating */
    background-attachment: fixed; /* Makes the background fixed while scrolling */
  }

  .navbar-brand{
    border-radius: 10px;
  }

  .nav-item{
    color: aliceblue;
  }

  .custom-button{
   background-color: rgb(123, 122, 121) !important;
  }

  .aboutimg{
    padding: 20px;
    width: 400px;
    border-radius: 150px;
    
  }

.abouttext1{
  padding-top: 40px;
  color: aliceblue;
    font-family:'Times New Roman', Times, serif;
}

.my-3 text-center{
  padding-top: 60px;
  color: aliceblue;
    font-family:'Times New Roman', Times, serif;
}


  .abouttext{
    /* display: inline-block; */
    /* max-height: 500px; */
    box-shadow: 3px 3px;
    opacity: 0.8;
    display:block;
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    background-color: rgb(200, 200, 199);
    color: rgb(18, 18, 18);
    font-family:'Times New Roman', Times, serif;
  }

  .mb-3{
    margin: auto;
    width: 300px;
  }

.quotation{
  margin-top: 20px;
  width: 30px;
  height: 25px;
}

.quotationbox{
  margin: 0 auto;
  width: 70%;
  border-radius: 20px;
  opacity: 0.7;
  background-color: aliceblue;

}

 .abouttext2{
  /* animation: slideInLeft 1s ease-in-out, bounce 1s linear; */
  animation-name: bounce;
  animation-name: slideInLeft;
  animation-duration: 1s;
  animation-timing-function:ease ;
  animation-delay:0.3s ;
  animation-iteration-count:1 ;
  animation-direction: normal ;
  animation-fill-mode: none ;

  padding: 10px;
  font-size:45px;
  font-family:serif;
  color: rgb(19, 79, 125);
}

.abouttext3{
  padding-top:45px;
  font-size: 44px;
  color: rgb(255, 255, 255);
  font-family:'Times New Roman', Times, serif;
}

.form-label{
  font-size: 20px;
}

.col{
  padding: 10px;
}

.abouttext4{
  margin-top: 50px;
  opacity: 0.7;
  background-color: rgb(119, 117, 111);
  padding-top:35px;
  font-size: 44px;
  color: rgb(255, 255, 255);
  font-family:'Times New Roman', Times, serif;
  
}


.riturajda{
  box-shadow: 3px 3px;
  border-radius: 100%;
}

.foundersdesk{
  margin-left: 15%;
  margin-right: 15%;
  background-color: aliceblue;
  border-radius: 20px;
  padding: 10px;
  opacity: 0.7;
  
}

#navbarSupportedContent{
  font-family:serif;
}

.footericon1{
    width: 50px;
  
    
  }

  .footerIcon{
    padding: 20px;
    margin-left: 45%;
    align-items: center;
  }

  .footericon{
    width: 50px;
    
    
  }

  .events{
    
    margin: 0 auto;
    color: rgb(247, 247, 247);
    opacity: 0.9;
    border-radius: 20px;
    background-color: rgb(88, 128, 161);
    width: 270px;
  }

  .footericon2{
    padding-top:10px;
    height: 80px;
     
  }


  /*Tournamnets-------*/

  .shatranj{ 
  
    margin: 0 auto;
    width: 80%;
    border-radius: 4px;
    padding: 5px;
    background-color: antiquewhite;
    font-family: serif;
  }
 
  .shatranj2{
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
    background-color:aliceblue;
    opacity: 0.9;
    margin-bottom: 20px;
    padding-bottom: 10px;
  }



.fresherst{
  border-radius: 10px;
  width: 80%;
  margin: 0 auto;
  background-color: aliceblue;
  opacity: 0.9;
  margin-top: 5px;
  margin-bottom: 20px;
  padding-bottom: 10px;
}



.freshersto{

  margin: 0 auto;
    width: 80%;
    border-radius: 4px;
    padding: 5px;
    background-color: antiquewhite;
    font-family: serif;

}

.prochess{
  border-radius: 10px;
  width: 80%;
  margin: 0 auto;
  background-color: aliceblue;
  opacity: 0.9;
  margin-top: 5px;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.Prochess{
  margin: 0 auto;
  width: 80%;
  border-radius: 4px;
  padding: 5px;
  background-color: antiquewhite;
  font-family: serif;
}

#submitbtn{
  transition: transform 0.3s ease 0s;
}

#submitbtn:hover{
  transform:translateY(-5px) ;
}

.mediaicon:hover{
  transform:translateY(-5px) ;
}

@keyframes slideInLeft {
  from{
    transform: translateY(-200px);
  }
  to{
    transform: translateY(0);
  }
}

@keyframes bounce {
  0%{
    transform: translateY(0);
  }
  40%{
    transform: translateY(-20px);
  }
  60%{
    transform: translateY(0);
  }
  80%{
    transform: translateY(-25px);
  }
  100%{
    transform: translateY(0);
  }
}


.carousel-control-prev,
.carousel-control-next {
    background: none;
    border: none;
}





/* media icons animation */

.mediaicon {
	width: 80px;
	height: 80px;
	
	margin: 0 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: relative;
	overflow: hidden;
	box-shadow: 0 16px 18px 3px rgba(0, 0, 0, 0.5);
}
.footerIcon {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 35vh;
	width: 200px;
	margin: auto;
}
/* .box i {
	z-index: 5;
	font-size: 45px;
	color: #fff;
} */
.box-area {
	display: flex;
	justify-content: space-around;
}
.mediaicon::before {
	position: absolute;
	content: '';
	top: 0;
	left: -125px;
	height: 40%;
	width: 60%;
	background-image: linear-gradient(45deg, red, yellow);
	transform: translateX(-100%) skew(40deg);
	transition: transform 0.5s linear;
}
.mediaicon:hover::before {
	transform: translateX(50%) skew(40deg);
}



/*corecomiti*/


.corecomone{

  padding-top: 20px;
  padding-bottom: 40px;
  width: 57%;
  
}

.corecomtwo{

  padding-top: 20px;
  padding-bottom: 40px;
  width: 57%;
  
}
.corecomthree{

  padding-top: 20px;
  padding-bottom: 40px;
  width: 57%;
  
}


/* .containerabout{
  display: flex;
  margin-left: 14%;
}

.aboutimg{
  max-height: 300px;
  max-width: 300px;
} */


/* .containerfounders{
  display: flex;
  display: inline-block;
} */

@media (max-width: 400px) {
  .containerfounders {
    flex-direction: column; /* Stack items vertically */
  }

  .riturajda,
  .foundersdesk {
    max-width: 100%; /* Make both image and text box 100% width */
  }
}

@media (min-width: 800px) {
  .containerfounders {
    display: flex; /* Use flexbox to make them stay side by side */
    align-items: center; /* Vertically center-align items */
    padding-left: 15%;
    padding-top: 30px;
  }

  .riturajda{
    flex: 1; /* Allow the image to grow and take up available space */
    max-width: 80%; /* Set a maximum width for the image */
    
  
  }
  .foundersdesk {
    flex: 1; /* Allow the text box to grow and take up available space */
    max-width: 50%; /* Set a maximum width for the text box */
  }
}
