.navbar-image {
    
    border-radius: 10px;
    display: block; /* Ensures proper spacing and alignment */
    margin: 0 auto; /* Centers the image horizontally */
  }
  
  body {
    background-image: url('https://i.etsystatic.com/22539742/r/il/789724/3810693578/il_fullxfull.3810693578_i8p1.jpg');
    background-size: cover; /* This ensures the image covers the entire element */
    background-repeat: no-repeat; /* Prevents image from repeating */
    background-attachment: fixed; /* Makes the background fixed while scrolling */
  }

  .navbar-brand{
    border-radius: 10px;
  }

  .nav-item{
    color: aliceblue;
  }

  .aboutimg{
    padding: 20px;
    width: 400px;
    border-radius: 150px;
    
  }

.abouttext1{
  padding-top: 40px;
  color: aliceblue;
    font-family:'Times New Roman', Times, serif;
}

.my-3 text-center{
  padding-top: 60px;
  color: aliceblue;
    font-family:'Times New Roman', Times, serif;
}


  .abouttext{
    opacity: 0.8;
    display:block;
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    width: 80%;
    background-color: rgb(200, 200, 199);
    color: rgb(18, 18, 18);
    font-family:'Times New Roman', Times, serif;
  }

  .mb-3{
    margin: auto;
    width: 300px;
  }

.quotation{
  margin-top: 20px;
  width: 30px;
  height: 25px;
}

 .abouttext2{
  font-size:45px;
  font-family:serif;
  color: rgb(8, 84, 138);
}

.abouttext3{
  padding-top:45px;
  font-size: 44px;
  color: rgb(255, 255, 255);
  font-family:'Times New Roman', Times, serif;
}

.form-label{
  font-size: 20px;
}

.col{
  padding: 10px;
}

.abouttext4{
  margin-top: 50px;
  opacity: 0.7;
  background-color: rgb(119, 117, 111);
  padding-top:35px;
  font-size: 44px;
  color: rgb(255, 255, 255);
  font-family:'Times New Roman', Times, serif;
  
}


.riturajda{
  border-radius: 100%;
}

.foundersdesk{
  margin-left: 15%;
  margin-right: 15%;
  background-color: aliceblue;
  border-radius: 20px;
  padding: 10px;
  opacity: 0.7;
  
}

#navbarSupportedContent{
  font-family:serif;
}

.footericon1{
    width: 50px;
  padding-right: 20px;
    
  }

  .footerIcon{
    padding: 20px;
    margin-left: 45%;
    align-items: center;
  }

  .footericon{
    width: 50px;
    padding-left: 20px;
    
  
    
  }